In [1]:
"Import file"
import pandas as pd
file= "C:/Users/sledg/PythonData/pandas-challenge/Resources/data.csv"
data= pd.read_csv(file)
data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [2]:
"Find number of players"
players_count= len(data['SN'].unique())
players_count

576

In [3]:
"Create data frame"
total_players_df= pd.DataFrame({"Total Players":[players_count]})
total_players_df

   Total Players
0            576

In [4]:
"Purchasing Analysis (Total)"
num_unique_items=len(data["Item ID"].unique())
num_unique_items

179

In [5]:
avg_price=(data["Price"].mean())
avg_price

3.050987179487176

In [6]:
num_purchases=(data["SN"].count())
num_purchases

780

In [7]:
total_rev=(data["Price"].sum())
total_rev

2379.77

In [8]:
print("Purchasing Analysis (Total)")
purchasing_analysis_list= pd.DataFrame({"Number of Unique Items": [num_unique_items], "Average Price": [avg_price],"Number of Purchases": [num_purchases],"Total Revenue":[total_rev]})
purchasing_analysis_list

Purchasing Analysis (Total)

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

In [9]:
"Gender Demographics"
group_data=data.groupby(["Gender"])
group_data

In [10]:
gender_count=data["Gender"].unique()
gender_count

array(['Male', 'Other / Non-Disclosed', 'Female'], dtype=object)

In [37]:
total_gender_each=group_data["Gender"].value_counts()
total_gender_each

Gender                 Gender
Female                 Female                   113
Male                   Male                     652
Other / Non-Disclosed  Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [12]:
percent_players=(data["Gender"].value_counts()/data["Gender"].count())*100
percent_players
percent_players.head()

Male                     83.589744
Female                   14.487179
Other / Non-Disclosed     1.923077
Name: Gender, dtype: float64

In [13]:
info_gender=data["Gender"].value_counts()
info_gender

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [14]:
print("Gender Demographics")
gender_list=pd.DataFrame({"Total Count": info_gender, "Percentage of Players": percent_players})
gender_list
gender_list.head()

Gender Demographics

                       Total Count  Percentage of Players
Male                           652              83.589744
Female                         113              14.487179
Other / Non-Disclosed           15               1.923077

In [15]:
"Purchasing Analysis (Gender)"
group_data=data.groupby(["Gender"])
group_data

total_gender_each=group_data["Gender"].value_counts()
total_gender_each

Gender                 Gender
Female                 Female                   113
Male                   Male                     652
Other / Non-Disclosed  Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [16]:
avg_purchase_price=group_data["Price"].mean()
avg_purchase_price

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [17]:
total_purchase_value=group_data["Price"].sum()
total_purchase_value

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [18]:
avg_purchase_person=(group_data["Price"].mean())*num_purchases/576
avg_purchase_person

Gender
Female                   4.337408
Male                     4.086676
Other / Non-Disclosed    4.531042
Name: Price, dtype: float64

In [19]:
print("Purchasing Analysis (Gender)")
purchasing_analysis_list=pd.DataFrame({"Purchase Count": total_gender_each, "Average Purchase Price": avg_purchase_price, "Total Purchase Value": total_purchase_value, "Avg Total Purchase Per Person": avg_purchase_person})
purchasing_analysis_list.head()

Purchasing Analysis (Gender)

,,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase Per Person
F,e,NaN,NaN,NaN,NaN
Female,Female,113.0,NaN,NaN,NaN
M,a,NaN,NaN,NaN,NaN
Male,Male,652.0,NaN,NaN,NaN
O,t,NaN,NaN,NaN,NaN

In [28]:
"Import file"
import pandas as pd
file= "C:/Users/sledg/PythonData/pandas-challenge/Resources/data.csv"
data= pd.read_csv(file)
data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [35]:
"Age Demographics"
agebins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
agenames=["<10", "10-14", "15-19", "20-24", "25-29","30-34","35-39","40+"]
age_demographics.df=pd.cut(data["Age"], agebins, labels=agenames)

ValueError: setting an array element with a sequence.

In [ ]:
data=data.groupby(["Age"])
data

In [31]:
age_count= (age_demographics["Age Demographics"].count())
age_count

KeyError: 'Column not found: Age Demographics'

In [ ]:
age_percent= (data["Age"].value_counts/num_purchases)*100
age_percent

In [ ]:
print("Age Demographics")

In [ ]:
age_dem_list= pd.DataFrame({"Total Count": age_count, "Percent Players": age_percent})
age_dem_list.head()

In [ ]:
"Purchasing Analysis (Age)"
avg_purchase_count_age=data["Age"].count()
avg_purchase_price_age=data["Price"].mean()
total_purchase_age=data["Price"].sum()
avg_total_person_age=(data["Price"].mean())*(780/576)

In [ ]:
print("Purchasing Analysis (Age)")
purchasing_analysis_age_list=pd.DataFrame({"Purchase Count": avg_purchase_count_age, "Average Purchase Price": avg_purchase_price_age, "Total Purchase Value": total_purchase_age, "Avg Total Purchase per Person": avg_total_person_age})
purchasing_analysis_age_list.head()

In [ ]:
"Import file"
import pandas as pd
file= "C:/Users/sledg/PythonData/pandas-challenge/Resources/data.csv"
data= pd.read_csv(file)
data.head()

In [ ]:
top_spenders= data[["Purchase ID", "SN", "Price"]]
top_spenders.head()

In [ ]:
top_spenders= top_spenders.groupby(["SN"])
top_spenders.head()

In [ ]:
purchase_count_SN= top_spenders["SN"].value_counts()
purchase_count_SN.head()

In [ ]:
avg_purchase_price_SN= top_spenders["Price"].mean()
avg_purchase_price_SN

In [ ]:
total_purchase_SN= top_spenders["Price"].sum()
total_purchase_SN.head()

In [ ]:
print("Top Spenders")
top_spenders_list= pd.DataFrame({"Purchase Count": purchase_count_SN, "Average Purchase Price": avg_purchase_price_SN, "Total Purchase Value": total_purchase_SN})
top_spenders_list=top_spenders_list.sort_values("Total Purchase Value", ascending= True)
top_spenders_list.head()

In [ ]:
"Import file"
import pandas as pd
file= "C:/Users/sledg/PythonData/pandas-challenge/Resources/data.csv"
data= pd.read_csv(file)
data.head()
"Most Popular Items"
most_pop_items= data[["Item ID", "Item Name", "Price"]]
most_pop_items.head()

In [ ]:
most_pop_items=data.groupby("Item ID")
most_pop_items.head(10)

In [ ]:
purchase_count_itemID= most_pop_items("Item Name").value_counts()
purchase_count_itemID.head()

In [ ]:
avg_price_itemID= data("Price").mean()
avg_price_itemID.head()

In [ ]:
total_purchase_itemID= data("Price").sum()
total_purchase_itemID.head()

In [ ]:
print("Most Popular Items"
      most_pop_items_list=pd.DataFrame({"Purchase Count": purchase_count_itemID, "Item Price": avg_price_itemID, "Total Purchase Value": total_purchase_itemID})
      most_pop_items_list.head()

In [22]:
print("Most Profitable Items")
most_pop_items_list= most_pop_items.sort_values("Total Purchase Value", ascending=False)
most_pop_items_list.head()

Most Profitable Items

NameError: name 'most_pop_items' is not defined