In [1]:
"Import file"
import pandas as pd
file= "C:/Users/sledg/PythonData/pandas-challenge/Resources/data.csv"
data= pd.read_csv(file)
data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [2]:
"Find number of players"
players_count= len(data['SN'].unique())
players_count

576

In [3]:
"Create data frame"
total_players_df= pd.DataFrame({"Total Players":[players_count]})
total_players_df

   Total Players
0            576

In [4]:
"Purchasing Analysis (Total)"
num_unique_items=len(data["Item ID"].unique())
num_unique_items

179

In [5]:
avg_price=(data["Price"].mean())
avg_price

3.050987179487176

In [6]:
num_purchases=(data["SN"].count())
num_purchases

780

In [7]:
total_rev=(data["Price"].sum())
total_rev

2379.77

In [8]:
print("Purchasing Analysis (Total)")
purchasing_analysis_list= pd.DataFrame({"Number of Unique Items": [num_unique_items], "Average Price": [avg_price],"Number of Purchases": [num_purchases],"Total Revenue":[total_rev]})
purchasing_analysis_list

Purchasing Analysis (Total)

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

In [9]:
"Gender Demographics"
group_data=data.groupby(["Gender"])
group_data

In [10]:
gender_count=data["Gender"].unique()
gender_count

array(['Male', 'Other / Non-Disclosed', 'Female'], dtype=object)

In [11]:
total_gender_each=group_data["Gender"].value_counts()
total_gender_each

Gender                 Gender
Female                 Female                   113
Male                   Male                     652
Other / Non-Disclosed  Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [12]:
percent_players=(data["Gender"].value_counts()/data["Gender"].count())*100
percent_players
percent_players.head()

Male                     83.589744
Female                   14.487179
Other / Non-Disclosed     1.923077
Name: Gender, dtype: float64

In [13]:
info_gender=data["Gender"].value_counts()
info_gender

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [14]:
print("Gender Demographics")
gender_list=pd.DataFrame({"Total Count": info_gender, "Percentage of Players": percent_players})
gender_list
gender_list.head()

Gender Demographics

                       Total Count  Percentage of Players
Male                           652              83.589744
Female                         113              14.487179
Other / Non-Disclosed           15               1.923077

In [15]:
"Purchasing Analysis (Gender)"
group_data=data.groupby(["Gender"])
group_data

total_gender_each=group_data["Gender"].value_counts()
total_gender_each

Gender                 Gender
Female                 Female                   113
Male                   Male                     652
Other / Non-Disclosed  Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [16]:
avg_purchase_price=group_data["Price"].mean()
avg_purchase_price

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [17]:
total_purchase_value=group_data["Price"].sum()
total_purchase_value

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [18]:
avg_purchase_person=(group_data["Price"].mean())*num_purchases/576
avg_purchase_person

Gender
Female                   4.337408
Male                     4.086676
Other / Non-Disclosed    4.531042
Name: Price, dtype: float64

In [19]:
print("Purchasing Analysis (Gender)")
purchasing_analysis_list=pd.DataFrame({"Purchase Count": total_gender_each, "Average Purchase Price": avg_purchase_price, "Total Purchase Value": total_purchase_value, "Avg Total Purchase Per Person": avg_purchase_person})
purchasing_analysis_list.head()

Purchasing Analysis (Gender)

,,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase Per Person
F,e,NaN,NaN,NaN,NaN
Female,Female,113.0,NaN,NaN,NaN
M,a,NaN,NaN,NaN,NaN
Male,Male,652.0,NaN,NaN,NaN
O,t,NaN,NaN,NaN,NaN

In [20]:
"Import file"
import pandas as pd
file= "C:/Users/sledg/PythonData/pandas-challenge/Resources/data.csv"
data= pd.read_csv(file)
data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [21]:
"Age Demographics"
agebins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
agenames=["<10", "10-14", "15-19", "20-24", "25-29","30-34","35-39","40+"]
data["Age Demographics"]=pd.cut(data["Age"], agebins, labels=agenames)
data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Demographics
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
...,...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54,20-24
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63,20-24
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,20-24
778,778,Sisur91,7,Male,92,Final Critic,4.19,<10
779,779,Ennrian78,24,Male,50,Dawn,4.60,20-24

In [22]:
data=data.groupby(["Age Demographics"])
data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Demographics
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
5,5,Yalae81,22,Male,81,Dreamkiss,3.61,20-24
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18,35-39
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58,35-39
14,14,Saesrideu94,35,Male,165,Bone Crushing Silver Skewer,4.86,35-39
19,19,Chamalo71,30,Male,89,"Blazefury, Protector of Delusions",4.64,30-34
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81,35-39
23,23,Eyrian71,40,Male,151,Severance,3.40,40+
24,24,Siala43,30,Male,132,Persuasion,3.19,30-34
25,25,Lisirra87,29,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,25-29
26,26,Lirtossa84,11,Male,71,Demise,1.61,10-14
27,27,Eusri44,7,Male,96,Blood-Forged Skeletal Spine,3.09,<10
30,30,Idai61,19,Male,140,Striker,2.94,15-19
31,31,Farusrian86,37,Male,179,"Wolf, Promise of the Moonwalker",4.48,35-39
32,32,Aeralria27,10,Male,133,Faith's Scimitar,4.09,10-14
33,33,Haillyrgue51,7,Male,44,Bonecarvin Battle Axe,2.38,<10
34,34,Sondim73,19,Male,160,Azurewrath,4.40,15-19
36,36,Idaisuir85,30,Male,76,Haunted Bronzed Bludgeon,3.15,30-34
37,37,Seuthep89,8,Male,73,Ritual Mace,2.05,<10
38,38,Reulae52,10,Female,116,Renewed Skeletal Katana,4.18,10-14
42,42,Aidaillodeu39,18,Male,72,Winter's Bite,3.77,15-19
46,46,Yasrisu92,27,Male,102,Avenger,3.44,25-29
49,49,Iaralrgue74,33,Male,110,Suspension,1.44,30-34
53,53,Ilosianya35,32,Male,176,Relentless Iron Skewer,2.84,30-34
54,54,Zhisrisu83,10,Male,25,Hero Cane,4.35,10-14
55,55,Phaelap26,25,Female,84,Arcane Gem,3.79,25-29
56,56,Raesty92,12,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,10-14
59,59,Yaliru88,19,Male,105,Hailstorm Shadowsteel Scythe,3.03,15-19
61,61,Jiskimya77,17,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,15-19
65,65,Chamirraya83,25,Male,34,Retribution Axe,2.22,25-29
70,70,Pheodai94,29,Male,143,Frenzied Scimitar,1.56,25-29
78,78,Haillyrgue51,7,Male,50,Dawn,4.60,<10
81,81,Heudai45,8,Female,174,Primitive Blade,3.47,<10
156,156,Eyrian71,40,Male,117,"Heartstriker, Legacy of the Light",1.79,40+
220,220,Jiskjask85,40,Male,46,Hopeless Ebon Dualblade,1.33,40+
248,248,Isursuir31,44,Male,137,"Aetherius, Boon of the Blessed",3.39,40+

In [23]:
age_count= (data["Age Demographics"].count())
age_count

Age Demographics
<10       23
10-14     28
15-19    136
20-24    365
25-29    101
30-34     73
35-39     41
40+       13
Name: Age Demographics, dtype: int64

In [24]:
age_percent= (data["Age"].value_counts)
age_percent_final= (age_percent/num_purchases)*100

TypeError: unsupported operand type(s) for /: 'method' and 'int'

In [ ]:
print("Age Demographics")

In [ ]:
age_dem_list= pd.DataFrame({"Total Count": age_count, "Percent Players": age_percent})
age_dem_list.head()

In [35]:
"Purchasing Analysis (Age)"
avg_purchase_count_age=data["Age"].count()
avg_purchase_price_age=data["Price"].mean()
total_purchase_age=data["Price"].sum()
avg_total_person_age=(data["Price"].mean())*(780/576)

In [ ]:
print("Purchasing Analysis (Age)")
purchasing_analysis_age_list=pd.DataFrame({"Purchase Count": avg_purchase_count_age, "Average Purchase Price": avg_purchase_price_age, "Total Purchase Value": total_purchase_age, "Avg Total Purchase per Person": avg_total_person_age})
purchasing_analysis_age_list.head()

In [ ]:
"Import file"
import pandas as pd
file= "C:/Users/sledg/PythonData/pandas-challenge/Resources/data.csv"
data= pd.read_csv(file)
data.head()

In [ ]:
top_spenders= data[["Purchase ID", "SN", "Price"]]
top_spenders.head()

In [ ]:
top_spenders= top_spenders.groupby(["SN"])
top_spenders.head()

In [ ]:
purchase_count_SN= top_spenders["SN"].value_counts()
purchase_count_SN.head()

In [ ]:
avg_purchase_price_SN= top_spenders["Price"].mean()
avg_purchase_price_SN

In [ ]:
total_purchase_SN= top_spenders["Price"].sum()
total_purchase_SN.head()

In [ ]:
print("Top Spenders")
top_spenders_list= pd.DataFrame({"Purchase Count": purchase_count_SN, "Average Purchase Price": avg_purchase_price_SN, "Total Purchase Value": total_purchase_SN})
top_spenders_list=top_spenders_list.sort_values("Total Purchase Value", ascending= True)
top_spenders_list.head()

In [25]:
"Import file"
import pandas as pd
file= "C:/Users/sledg/PythonData/pandas-challenge/Resources/data.csv"
data= pd.read_csv(file)
data.head()
"Most Popular Items"
most_pop_items= data[["Item ID", "Item Name", "Price"]]
most_pop_items.head()

   Item ID                                  Item Name  Price
0      108  Extraction, Quickblade Of Trembling Hands   3.53
1      143                          Frenzied Scimitar   1.56
2       92                               Final Critic   4.88
3      100                                Blindscythe   3.27
4      131                                       Fury   1.44

In [26]:
most_pop_items=most_pop_items.groupby("Item ID")
most_pop_items.head()

     Item ID                                  Item Name  Price
0        108  Extraction, Quickblade Of Trembling Hands   3.53
1        143                          Frenzied Scimitar   1.56
2         92                               Final Critic   4.88
3        100                                Blindscythe   3.27
4        131                                       Fury   1.44
..       ...                                        ...    ...
764      113                          Solitude's Reaver   4.07
765      130                                      Alpha   2.07
766       58          Freak's Bite, Favor of Holy Might   4.14
777       67      Celeste, Incarnation of the Corrupted   3.46
779       50                                       Dawn   4.60

[690 rows x 3 columns]

In [27]:
purchase_count_itemID= most_pop_items["Item Name"].value_counts()
purchase_count_itemID.head()

Item ID  Item Name
0        Splinter              4
1        Crucifer              4
2        Verdict               6
3        Phantomlight          6
4        Bloodlord's Fetish    5
Name: Item Name, dtype: int64

In [28]:
avg_price_itemID= data["Price"].mean()
avg_price_itemID

3.050987179487176

In [29]:
total_purchase_itemID= data["Price"].sum()
total_purchase_itemID

2379.77

In [33]:
print("Most Popular Items"
      most_pop_items_list=pd.DataFrame({"Purchase Count": purchase_count_itemID, "Item Price": avg_price_itemID, "Total Purchase Value": total_purchase_itemID})
      most_pop_items_list.head()

SyntaxError: invalid syntax (<ipython-input-33-b030a6ddcb5d>, line 2)

In [34]:
print("Most Profitable Items")
most_pop_items_list= most_pop_items.sort_values("Total Purchase Value", ascending=False)
most_pop_items_list.head()

Most Profitable Items

AttributeError: 'DataFrameGroupBy' object has no attribute 'sort_values'